<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand me-4" href="#">
            <img src="/site/img/logo.png" alt="Logo" />
        </a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list"></i>
        </button>
        <div class="collapse navbar-collapse text-center" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link my-1 my-md-0" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link my-1 my-md-0" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link my-1 my-md-0" href="/blogs">Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link my-1 my-md-0" href="/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link my-1 mb-3 my-md-0" href="/feedback">Feedback</a>
                </li>
            </ul>
            <button class="btn primary-btn px-3 my-2 my-sm-0" type="submit">Let's Get Started</button>
        </div>
    </div>
</nav>