<aside class="sidebar">
    <nav>
        <a href="/" class="mb-4" target="_blank">
            <i class="bi bi-box-arrow-up-right me-2"></i> Visit Site
        </a>

        <div class="links">
            <a href="/admin/dashboard">
                <i class="bi bi-speedometer2 me-2"></i> Dashboard
            </a>
            <a href="/admin/manage-blogs">
                <i class="bi bi-file-earmark-richtext me-2"></i> Manage Blogs
            </a>
            <a href="/admin/manage-products">
                <i class="bi bi-box2 me-2"></i> Manage Products
            </a>
        </div>

        <a href="/api/v1/auth/sign-out">
            <i class="bi bi-power me-2"></i> Logout
        </a>
    </nav>
</aside>